body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.banner {
    /* background-color: #333; */
    background-image: url(../assets/bruninhosite.png);
    background-size:cover;
    background-position: 100% 39%;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    padding: 60px;
}

.banner h1 {
    font-size: 36px;
    /* text-shadow: 2px 2px white; */
    text-shadow: 2px 2px 8px crimson;
}

.call-action {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #fff;
    text-align: center;
    margin-top: 1.5em;
}

.call-action h3 {
    background-color: #333;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1200px;
    margin-top: 10px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    display: inline-block;
    width: calc(33.33% - 40px);
    height: 18em;
    box-sizing: border-box;
    color: white;
    text-shadow: 2px 2px 8px crimson;
}

.card.roleta {
    background-color: white;
    background-image: url(../assets/roleta.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card.tigre {
    border-radius: 8px;
    background-color: white;
    background-image: url(../assets/tigre.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 0px;
}

.card p {
    font-size: 16px;
    margin-top: 8px;
}

.social-buttons {
    margin-top: 20px;
}

.social-buttons a {
    display: inline-block;
    margin: 10px;
    font-size: 30px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.social-buttons a:hover {
    color: #0077B5;
}